
@{
    ViewBag.Title = "Personal";
}

<h2>Personal</h2>

<div class="user-profile-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="user-profile-wrap shadow-reset">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="user-profile-img">
                                        <img src="img/notification/5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="user-profile-content">
                                        <h2>Sakila Joy</h2>
                                        <p class="profile-founder">
                                            Founder of <strong>Uttara It Park</strong>
                                        </p>
                                        <p class="profile-des">It is a long established fact that a reader will be distracted of by the readable content of a page when looking at its layout.The point of using Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="user-profile-social-list">
                                <table class="table small m-b-xs">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>542</strong> Projects
                                            </td>
                                            <td>
                                                <strong>222</strong> Followers
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>612</strong> Comments
                                            </td>
                                            <td>
                                                <strong>542</strong> Articles
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>254</strong> Tags
                                            </td>
                                            <td>
                                                <strong>552</strong> Friends
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="analytics-sparkle-line user-profile-sparkline">
                                <div class="analytics-content">
                                    <h5>Visits in last 24h</h5>
                                    <h2 class="counter">498009</h2>
                                    <div id="sparkline22"><canvas width="287" height="60" style="display: inline-block; width: 287px; height: 60px; vertical-align: top;"></canvas></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="col-lg-3">
        <div class="sparkline7-list profile-online-mg-t-30 shadow-reset">
            <div class="sparkline7-hd">
                <div class="main-spark7-hd">
                    <h1>Contact List</h1>
                    <div class="sparkline7-outline-icon">
                        <span class="sparkline7-collapse-link"><i class="fa fa-chevron-up"></i></span>
                        <span><i class="fa fa-wrench"></i></span>
                        <span class="sparkline7-collapse-close"><i class="fa fa-times"></i></span>
                    </div>
                </div>
            </div>
            <div class="sparkline7-graph">
                <div class="user-profile-contact user-profile-scrollbar mCustomScrollbar _mCS_6 mCS-autoHide" style="height: 1820px; position: relative; overflow: visible;">
                    <div id="mCSB_6" class="mCustomScrollBox mCS-light-1 mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;">
                        <div id="mCSB_6_container" class="mCSB_container" style="position: relative; top: -808px; left: 0px;" dir="ltr">
                            <ul class="profile-contact-menu">
                                <li>
                                    <a href="#">
                                        <img src="img/notification/5.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/1.jpg" alt="" class="mCS_img_loaded"> <span>Fire Foxy</span> <span class="contact-profile-online-f">31m</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/2.jpg" alt="" class="mCS_img_loaded"> <span>Jhon Royita</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/3.jpg" alt="" class="mCS_img_loaded"> <span>Selim Reza</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/4.jpg" alt="" class="mCS_img_loaded"> <span>Navil khan</span> <span class="contact-profile-online-f">4h</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/6.jpg" alt="" class="mCS_img_loaded"> <span>Suhag Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/1.jpg" alt="" class="mCS_img_loaded"> <span>Abir Shek</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/3.jpg" alt="" class="mCS_img_loaded"> <span>Omi Poyel</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/4.jpg" alt="" class="mCS_img_loaded"> <span>Emrul Khan</span> <span class="contact-profile-online-f">4h</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/6.jpg" alt="" class="mCS_img_loaded"> <span>Ismail Hossain</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/1.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/3.jpg" alt="" class="mCS_img_loaded"> <span>Arif Khan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/4.jpg" alt="" class="mCS_img_loaded"> <span>Hridoy Ali</span> <span class="contact-profile-online-f">4h</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/6.jpg" alt="" class="mCS_img_loaded"> <span>Akramul Hasan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/1.jpg" alt="" class="mCS_img_loaded"> <span>Oishy Ray</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/5.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/1.jpg" alt="" class="mCS_img_loaded"> <span>Tuktuki</span> <span class="contact-profile-online-f">31m</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/2.jpg" alt="" class="mCS_img_loaded"> <span>Suvo Fram</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/3.jpg" alt="" class="mCS_img_loaded"> <span>Arif Khan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/4.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f">4h</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/6.jpg" alt="" class="mCS_img_loaded"> <span>Emrul Khan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/1.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/3.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/4.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f">4h</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/6.jpg" alt="" class="mCS_img_loaded"> <span>Emrul Khan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/1.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/3.jpg" alt="" class="mCS_img_loaded"> <span>Suhag Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/4.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f">4h</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/6.jpg" alt="" class="mCS_img_loaded"> <span>Fire Foxy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/1.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/5.jpg" alt="" class="mCS_img_loaded"> <span>Fire Foxy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/1.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f">31m</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/2.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/3.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/4.jpg" alt="" class="mCS_img_loaded"> <span>Fire Foxy</span> <span class="contact-profile-online-f">4h</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/6.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/1.jpg" alt="" class="mCS_img_loaded"> <span>Emrul Khan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/3.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/4.jpg" alt="" class="mCS_img_loaded"> <span>Fire Foxy</span> <span class="contact-profile-online-f">4h</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/6.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/1.jpg" alt="" class="mCS_img_loaded"> <span>Emrul Khan</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/3.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/4.jpg" alt="" class="mCS_img_loaded"> <span>Hridoy Ali</span> <span class="contact-profile-online-f">4h</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/6.jpg" alt="" class="mCS_img_loaded"> <span>Sakila Joy</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/notification/1.jpg" alt="" class="mCS_img_loaded"> <span>Ismail Hossain</span> <span class="contact-profile-online-f"><i class="fa fa-circle contact-profile-online"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><div id="mCSB_6_scrollbar_vertical" class="mCSB_scrollTools mCSB_6_scrollbar mCS-light-1 mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_6_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 1113px; max-height: 1770px; top: 494px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                </div>
            </div>
        </div>
    </div>