
@{
    ViewBag.Title = "Index";
}

<!-- Start main-content -->
<div class="main-content">

    <!-- Section: home -->
    <section id="home">
        <div class="container-fluid p-0">

            <!-- Slider Revolution Start -->
            <div class="rev_slider_wrapper">
                <div class="rev_slider" data-version="5.0">
                    <ul>

                        <!-- SLIDE 1 -->
                        <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/Content/images/bg/bg2.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/Content/images/bg/bg2.jpg" alt="" data-bgposition="center 40%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-white font-roboto bg-dark-transparent-4 font-weight-500 pr-20 pl-20"
                                 id="rs-1-layer-1"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-120']"
                                 data-fontsize="['36']"
                                 data-lineheight="['64']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap;">
                                Evcil Hayvanlarınız İçin En Güvenilir Adres
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme font-roboto bg-theme-colored text-white font-weight-700 m-0 pr-20 pl-20"
                                 id="rs-1-layer-2"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-40']"
                                 data-fontsize="['48']"
                                 data-lineheight="['72']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap;">
                                Güvenilir Konaklama
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme font-raleway text-white"
                                 id="rs-1-layer-3"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['40']"
                                 data-fontsize="['18']"
                                 data-lineheight="['30']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:400;">
                                Hayvanlarınız için güvenilir ve en iyi hizmet seçeneği
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption tp-resizeme"
                                 id="rs-1-layer-4"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['105']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1600"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                                <a class="btn btn-default mr-10" href="~/Content/ajax-load/reservation-form.html" data-target="#BSParentModal" data-toggle="modal">Rezervasyon Yap</a>
                            </div>
                        </li>

                        <!-- SLIDE 2 -->
                        <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/Content/images/bg/bg1.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/Content/images/bg/bg1.jpg" alt="" data-bgposition="center 20%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-uppercase font-roboto text-center text-white"
                                 id="rs-2-layer-1"
                                 data-x="['left']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['-80']"
                                 data-fontsize="['64','64','54','24']"
                                 data-lineheight="['95']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:700;">
                                Hayvan<span class="text-theme-colored"> SAHİPLEN</span>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-center font-raleway text-white"
                                 id="rs-2-layer-2"
                                 data-x="['left']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['0']"
                                 data-fontsize="['18']"
                                 data-lineheight="['30']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1200"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:500;">
                                Kendine en uygun evsiz hayvanı sahiplenebilip en yakın arkadaşı olabilir<br> ya da hayvan sahiplendirebilirsiniz.
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme"
                                 id="rs-2-layer-3"
                                 data-x="['left']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['80']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                                <a class="btn btn-default btn-lg btn-circled mr-10" href="#">Sahiplen</a> <a class="btn btn-colored btn-lg btn-circled btn-theme-colored" href="#">Sahiplendir</a>
                            </div>
                        </li>

                        <!-- SLIDE 3 -->
                        <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/Content/images/bg/bg4.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/Content/images/bg/bg4.jpg" alt="" data-bgposition="center 20%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-white text-uppercase font-roboto bg-theme-colored-transparent font-weight-600 pr-20  pl-20"
                                 id="rs-3-layer-1"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-110']"
                                 data-fontsize="['48']"
                                 data-lineheight="['72']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:700;">
                                TEDAVİ, BAKIM SEÇENEKLERİ
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme font-roboto text-white bg-dark-transparent-6 font-weight-400 m-0 pr-20 pl-20"
                                 id="rs-3-layer-2"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-35']"
                                 data-fontsize="['48']"
                                 data-lineheight="['64']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:700;">
                                Evcil hayvanınız için en iyi seçenek
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-left font-raleway text-white"
                                 id="rs-3-layer-3"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['40']"
                                 data-fontsize="['18']"
                                 data-lineheight="['28']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:300;">
                                Tedavi ve bakım seçenekleri için en iyisi
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption tp-resizeme"
                                 id="rs-3-layer-4"
                                 data-x="['left']"
                                 data-hoffset="['20']"
                                 data-y="['middle']"
                                 data-voffset="['105']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1600"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                                <a class="btn btn-theme-colored mr-10" href="#">Kurum Seç</a>
                            </div>
                        </li>

                    </ul>
                </div><!-- end .rev_slider -->
            </div>
            <!-- end .rev_slider_wrapper -->
            <script>
                $(document).ready(function (e) {
                    var revapi = $(".rev_slider").revolution({
                        sliderType: "standard",
                        jsFileLocation: "~/Content/js/revolution-slider/js/",
                        sliderLayout: "auto",
                        dottedOverlay: "none",
                        delay: 5000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style: "gyges",
                                enable: true,
                                hide_onmobile: false,
                                hide_onleave: true,
                                hide_delay: 200,
                                hide_delay_mobile: 1200,
                                tmp: '',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 0,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 0,
                                    v_offset: 0
                                }
                            },
                            bullets: {
                                enable: true,
                                hide_onmobile: true,
                                hide_under: 800,
                                style: "hebe",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "bottom",
                                h_offset: 0,
                                v_offset: 30,
                                space: 5,
                                tmp: '<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title"></span>'
                            }
                        },
                        responsiveLevels: [1240, 1024, 778],
                        visibilityLevels: [1240, 1024, 778],
                        gridwidth: [1170, 1024, 778, 480],
                        gridheight: [680, 768, 960, 720],
                        lazyType: "none",
                        parallax: "mouse",
                        parallaxBgFreeze: "off",
                        parallaxLevels: [2, 3, 4, 5, 6, 7, 8, 9, 10, 1],
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "on",
                        stopAfterLoops: 0,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAutoWidth: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "0",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                });
            </script>
            <!-- Slider Revolution Ends -->
        </div>
    </section>


    <!-- Section: About1-->
    <section style="padding-top:60px">
        <div class="container pt-0 pb-60 mt-0">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="text-uppercase mt-0"><span class="text-theme-colored">Hayvan Dostu</span> SİTESİNE HOŞGELDİNİZ</h2>
                        <h4 class="text-gray-dimgray font-weight-400"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</em></h4>
                        <p>Sit amet consectetur adipisicing elit. Aliquid iste iusto reiciendis praesentium dolorem doloribus nisi architecto voluptatibus explicabo, possimus ullam quae illum maiores aperiam consequuntur.</p>
                        <p>Sit amet consectetur adipisicing elit. Aliquid iste iusto reiciendis praesentium dolorem doloribus nisi architecto voluptatibus explicabo, possimus ullam quae illum maiores aperiam consequuntur facere similique voluptatum.</p>
                        <p>Sit amet consectetur adipisicing elit. Aliquid iste iusto reiciendis praesentium dolorem doloribus nisi architecto voluptatibus explicabo, possimus ullam quae illum maiores.</p>
                        <a href="#" class="btn btn-flat btn-theme-colored text-uppercase mt-20 mb-sm-30 border-left-theme-color-2-4px">Daha Fazla</a>
                    </div>
                    <div class="col-md-5">
                        <div class="row mb-10 pt-10">
                            <div class="col-md-12">
                                <img alt="" src="~/Content/images/about/c4.jpg" class="img-fullwidth">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-5 pr-sm-15 mb-sm-10">
                                <img alt="" src="~/Content/images/about/c2.jpg" class="img-fullwidth">
                            </div>
                            <div class="col-md-6 pl-5 pl-sm-15">
                                <img alt="" src="~/Content/images/about/c3.jpg" class="img-fullwidth">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section:why choose us 2 -->
    <section id="about">
        <div class="container-fluid p-0">
            <div class="row equal-height">
                <div class="col-sm-6 col-md-6" style="padding-left:50px; margin-top:80px" data-bg-img="~/Content/images/photos/p2.jpg">

                    <h3 style="font-size:32px" class="mt-0 line-height-1 pb-20">Sıkça Sorulan<span class="text-theme-colored"> Sorular</span></h3>
                    <div id="accordion1" class="panel-group accordion">
                        <div class="panel">
                            <div class="panel-title"> <a class="active" data-parent="#accordion1" data-toggle="collapse" href="#accordion11" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                            <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true">
                                <div class="panel-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                            <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                                <div class="panel-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion13" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                            <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                                <div class="panel-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion14" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                            <div id="accordion14" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                                <div class="panel-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion15" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                            <div id="accordion15" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                                <div class="panel-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-6 bg-lighter">
                    <div class="pt-80 pb-90 pl-80 pr-100 p-md-30">
                        <h2 class="mb-30 mt-0 line-height-1">Neden <span class="text-theme-colored"> Biz?</span></h2>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="icon-box border-1px p-15 mb-30">
                                    <a class="icon pull-left sm-pull-none flip" href="#">
                                        <i class="flaticon-pet-dog-1 text-theme-colored"></i>
                                    </a>
                                    <div class="ml-70 ml-sm-0">
                                        <h5 class="icon-box-title mt-15 mb-5 text-uppercase">Best in industry</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="icon-box border-1px p-15 mb-30">
                                    <a class="icon pull-left sm-pull-none flip" href="#">
                                        <i class="flaticon-pet-people text-theme-colored"></i>
                                    </a>
                                    <div class="ml-70 ml-sm-0">
                                        <h5 class="icon-box-title mt-15 mb-5 text-uppercase">Customer support</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="icon-box border-1px p-15 mb-30">
                                    <a class="icon pull-left sm-pull-none flip" href="#">
                                        <i class="flaticon-pet-emergency-ambulance text-theme-colored"></i>
                                    </a>
                                    <div class="ml-70 ml-sm-0">
                                        <h5 class="icon-box-title mt-15 mb-5 text-uppercase">Emergency services</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="icon-box border-1px p-15 mb-30">
                                    <a class="icon pull-left sm-pull-none flip" href="#">
                                        <i class="flaticon-pet-animal text-theme-colored"></i>
                                    </a>
                                    <div class="ml-70 ml-sm-0">
                                        <h5 class="icon-box-title mt-15 mb-5 text-uppercase">Veterinary help</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: team Our Doctors-->
    <section>
        <div class="container">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="line-height-1 mt-0 mb-0 pb-20"><span class="text-theme-colored">Veterinerlerimiz</span></h2>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="thumb"> <img src="~/Content/images/team/1.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                            <div class="member-info">
                                <div class="member-biography p-20">
                                    <h3 class="text-white mt-0 mb-10">Jhon Anderson</h3>
                                    <h5 class="text-white">Veterinary Doctor</h5>
                                </div>
                                <div class="bg-white-transparent-9 text-center">
                                    <ul class="styled-icons icon-theme-colored icon-hover-theme-colored icon-circled pt-5">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb"> <img src="~/Content/images/team/2.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                            <div class="member-info">
                                <div class="member-biography p-20">
                                    <h3 class="text-white mt-0 mb-10">Zakaria Smith</h3>
                                    <h5 class="text-white">Veterinary Doctor</h5>
                                </div>
                                <div class="bg-white-transparent-9 text-center">
                                    <ul class="styled-icons icon-theme-colored icon-hover-theme-colored icon-circled pt-5">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb"> <img src="~/Content/images/team/3.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                            <div class="member-info">
                                <div class="member-biography p-20">
                                    <h3 class="text-white mt-0 mb-10">David Matthews</h3>
                                    <h5 class="text-white">Veterinary Doctor</h5>
                                </div>
                                <div class="bg-white-transparent-9 text-center">
                                    <ul class="styled-icons icon-theme-colored icon-hover-theme-colored icon-circled pt-5">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb"> <img src="~/Content/images/team/4.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                            <div class="member-info">
                                <div class="member-biography p-20">
                                    <h3 class="text-white mt-0 mb-10">Andrew Smith</h3>
                                    <h5 class="text-white">Veterinary Doctor</h5>
                                </div>
                                <div class="bg-white-transparent-9 text-center">
                                    <ul class="styled-icons icon-theme-colored icon-hover-theme-colored icon-circled pt-5">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @section signin{
        @if (Session["personalID"] == null)
        {
            <a class="btn btn-default btn-lg btn-circled mr-10" href="/Account/Login/" style="margin-bottom:5px">Giriş Yap</a>
        }
        else
        {
            <a class="btn btn-default btn-lg btn-circled mr-10" href="/Account/LogOff/" style="margin-bottom:5px">Çıkış Yap</a>

        }
    }

    @section signup{
        @if (Session["personalID"] == null)
        {
            <a class="btn btn-default btn-lg btn-circled mr-10" href="/Account/PersonalRegister/" style="width:114px; margin-bottom:5px">Üye Ol</a>
        }
        else
        {
        }
    }

    @section profile{
        @if (Session["personalID"] != null)
        {
            <a href="#">HESAP</a>
            <ul class="dropdown">
                <li><a href="/Personal/Profil/@Convert.ToInt32(Session["personalID"])/">Profilim</a></li>
                <li><a href="/Personal/MessageBox/">Gelen Kutusu</a></li>
                <li><a href="/Personal/MyPetList/">Evcil Hayvanlarım</a></li>
            </ul>
        }
        else
        {
            
        }
    }

